
<h1>Bienvenue chez Vite & Gourmand !</h1>

<p>Bonjour {{ user.prenom }},</p>

<p>
    Nous sommes ravis de vous compter parmi nos nouveaux clients. Votre compte a été créé avec succès.
</p>

<p>
    À très vite pour votre première commande !<br>
    L'équipe Vite & Gourmand.
</p>