{% extends 'base.html.twig' %}

{% block title %}Modifier les horaires d'ouverture{% endblock %}

{% block body %}
    <h1>Modifier les horaires d'ouverture</h1>

    {{ include('horaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>

    {{ include('horaire/_delete_form.html.twig') }}
{% endblock %}
