{% extends 'base.html.twig' %}

{% block title %}Nouvel horaire{% endblock %}

{% block body %}
    <h1>Créer un nouvel horaire</h1>

    {{ include('horaire/_form.html.twig') }}

    <a href="{{ path('app_horaire_index') }}">Retour à la liste</a>
{% endblock %}
