{% extends 'base.html.twig' %}

{% block title %}Modifier le compte utilisateur{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Modifier le compte utilisateur</h1>
        <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <div class="card p-4 shadow-sm mb-4">
        {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <button type="submit" form="form-utilisateur" class="btn btn-secondary">Mettre à jour</button>
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>

{% endblock %}
