{% extends 'base.html.twig' %}

{% block title %}Edit Allergene{% endblock %}

{% block body %}
    <h1>Edit Allergene</h1>

    {{ include('allergene/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_allergene_index') }}">back to list</a>

    {{ include('allergene/_delete_form.html.twig') }}
{% endblock %}
