{% extends 'base.html.twig' %}

{% block title %}Allergene index{% endblock %}

{% block body %}
    <h1>Allergene index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for allergene in allergenes %}
            <tr>
                <td>{{ allergene.id }}</td>
                <td>
                    <a href="{{ path('app_allergene_show', {'id': allergene.id}) }}">show</a>
                    <a href="{{ path('app_allergene_edit', {'id': allergene.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_allergene_new') }}">Create new</a>
{% endblock %}
