{% extends 'base.html.twig' %}

{% block title %}Nouvel allergène{% endblock %}

{% block body %}
    <h1>Créer un nouvel Allergène</h1>

    {{ include('allergene/_form.html.twig') }}

    <a href="{{ path('app_allergene_index') }}">Retour à la liste</a>
{% endblock %}
