{% extends 'base.html.twig' %}

{% block title %}Nouvel allergène{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Ajouter un nouvel Allergène</h1>
        <a href="{{ path('app_allergene_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <div class="card p-4 shadow-sm mb-4">
        {{ include('allergene/_form.html.twig') }}
    </div>

    <div class="d-flex justify-content-start mt-3">
        <button type="submit" form="form-allergene" class="btn btn-secondary">Enregistrer l'allergène</button>
    </div>
    
{% endblock %}
