<form method="post" action="{{ path('app_role_delete', {'id': role.id}) }}" onsubmit="return confirm('Attention ! Supprimer ce rôle peut impacter l\'accès des utilisateurs. Confirmer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn btn-sm btn-outline-secondary">Supprimer le rôle</button>
</form>
