{% extends 'base.html.twig' %}

{% block title %}Nouveau rôle{% endblock %}

{% block body %}
    <h1 class="mb-4">Créer un nouveau rôle utilisateur</h1>

    {{ include('role/_form.html.twig') }}

    <a href="{{ path('app_role_index') }}">Retour à la liste</a>
{% endblock %}
