{% extends 'base.html.twig' %}

{% block title %}Modifier le thème{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Modifier le thème : {{ theme.nom }}</h1>
        <a href="{{ path('app_theme_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <div class="card p-4 shadow-sm mb-4">
        {{ include('theme/_form.html.twig') }}
    </div>
   
   <div class="d-flex justify-content-between align-items-center mt-3">
        <button type="submit" form="form-theme" class="btn btn-secondary">Mettre à jour</button>
        {{ include('theme/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
