{% extends 'base.html.twig' %}

{% block title %}Nouveau Thème{% endblock %}

{% block body %}
    <h1><h1>Ajouter un thème de menu</h1></h1>

    {{ include('theme/_form.html.twig') }}

    <a href="{{ path('app_theme_index') }}">Retour à la liste</a>
{% endblock %}
