{% extends 'base.html.twig' %}

{% block title %}Nouveau menu{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Ajouter un nouveau menu</h1>
        <a href="{{ path('app_menu_admin_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>

    <div class="card p-4 shadow-sm mb-4">
        {{ include('menu/_form.html.twig') }}
    </div>

    <div class="d-flex justify-content-start mt-3">
        <button type="submit" form="form-menu" class="btn btn-secondary">Enregistrer le menu</button>
    </div>

{% endblock %}
