{% extends 'base.html.twig' %}

{% block title %}Nouveau Plat{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Ajouter un nouveau plat</h1>
        <a href="{{ path('app_home') }}" class="btn btn-secondary">Retour à l'accueil</a>
    </div>

    <div class="card p-4 shadow-sm mb-4">
        {{ include('plat/_form.html.twig') }}
    </div>

    <div class="d-flex justify-content-start mt-3">
        <button type="submit" form="form-plat" class="btn btn-secondary">Enregistrer le plat</button>
    </div>    
{% endblock %}
