<form method="post" action="{{ path('app_regime_delete', {'id': regime.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce régime alimentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regime.id) }}">
    <button class="btn">Supprimer</button>
</form>
