{% extends 'base.html.twig' %}

{% block title %}Nouveau régime{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau régime</h1>

    {{ include('regime/_form.html.twig') }}

    <a href="{{ path('app_regime_index') }}">Retour à la liste</a>
{% endblock %}
